.chat_component_box {
  background-color: #eaeef3;
}
// THE COPIED CSS
.block-61 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
}

.testimonial-card-1 {
  padding: 3rem 2.2rem 2.2rem 2.2rem;
  border-radius: 5px;
  position: relative;
  background: var(--block-background);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  // height: 100%;
  height: 6.5rem;
  width: 100%;
  margin: 2px;
}

//The details inside the div of the .testimonial-card-1
.block-61-person {
  display: flex;
  align-items: center;
  margin-top: -1.3rem;
}
//the image of the avatar should be circular
.block-61-person__avatar {
  width: 56px;
  height: 56px;
  border-radius: 10rem;
}

// .block-61-person__rating {
//   font-size: 0.75rem;
//   color: #ffe200;
// }

.block-61-person__name {
  font-size: 0.87rem;
  font-weight: 600;
}

.block-61-person__info {
  font-size: 0.87rem;
  opacity: 0.8;
}
